<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>
<% if @needs %>
	<% @needs.each do |need| %>
		<div class="well">
			<%= need.description %>
			<hr />
			<%= link_to time_ago_in_words(need.created_at), need_path(need) %> ago
		</div>
	<% end %>
<% end %>