<h1>Editing initiative_metric for <%= @initiative_metric.initiative.title %></h1>

<%= render 'form' %>

<%= link_to 'Show', [@initiative, @initiative_metric] %> |
<%= link_to 'Back', initiative_initiative_metrics_path %>
