<h1>Initiative Metric for <%= @initiative_metric.initiative.title %></h1>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_initiative_initiative_metric_path(@initiative_metric.initiative, @initiative_metric) %> |
<%= link_to 'Back', initiative_initiative_metrics_path %>
