<%= link_to 'Back',  need_poster_panel_index_path %>

<div class="page-header-block">
  <div class="page-title">
    <h2>Post a Need</h2>
  </div>
</div>

<div class="main-content">
  <%= render 'form' %>
</div>