

<i><h3>Payment Processing:</h3></i>
<br>
<p>
In order for your organization to recieve funding you will need to link to a Stripe account. You can read about Stripe <a href="https://stripe.com/us/pricing">here</a>. <b>By linking your account you are agreeing to cover credit card processing fees.</b> In order to maintain “100%” of donation going to the need we are now asking that the organization accepting the money be willing to cover the credit card fees. The credit card fees, as charged by Stripe, are 2.9% + 30¢ per contribution (note there is a minimum donation of $.50 required to insure an organization cannot lose money). For example: if a church posts a need for $100 and receives the full $100 on the site, only ≈$97 or so will be deposited to the church, the $3 lost will be taken by Stripe (not the Church of Lexington) to pay credit card fees. Effectively, the Church of Lexington website is now asking the receiving organization to cover the remaining 3% or so.
</p>
<br>
<br>

<br>
<br>

<% @unique_orgs_for_current_user.each do |organization| %>

    <div class="page-title">
      <h2><%= organization.title %></h2>


      
    </div>

	<% if organization.is_stripe_linked %>

	This organization is connected to a Stripe account to recieve funds. If you have questions about this please contact us.

	<% else %>

	<a href=<%="https://connect.stripe.com/oauth/authorize?response_type=code&scope=read_write&client_id=" + ENV['STRIPE_CONNECT_CLIENT_ID'] + "&state=" + organization.id.to_s %>> Connect this organization to a Stripe account in order to start recieving funds. </a>

	<% end %>


<br>
<br>

<% end %>
