<br>
<br>
<br>
<p>
Our goal is to unite the Church through crowd sourced service. Image if all the churches of Lexington posted the good work they were doing in real time. We could check it out. Sign up and list our skills... get notified when something is posted in our range of expertise... and contribute to needs in our neihborhood.
</p>
<br>
<p>
For the month of May we are going for it. 31 days of churches sharing the good work they are doing so the body can better love its community.
</p>
<br>
<p>
SIGN UP AND LIST YOUR SKILLS
</p>
<br>
<p>
BETA TESTING STARTS IN 18 DAYS... / BETA TESTING ENDS IN 18 DAYS...
</p>
<br>
<p>
CHECK OUT THE NEEDS
</p>