Thanks for your contribution. A tax-deductible receipt has been emailed to you. <a href="mailto:support@church-of.com" target="_top">Contact us</a> if you have any questions. 

<p>
	<%= link_to "Register", register_path %> in order to see all your contributions in your Impact Panel (located in the menu after you sign up). Make sure to register with the same email you've made gifts with.
</p>

      
