<div class="page-header-block">
<div class="page-title">
  <h2>Contribution Terms and Conditions</h2>
</div>
</div>
<br>
<br>
<i><h3>General:</h3></i>
<br>
<p>
Contributions are final. Outside of special cases (stolen card, etc) we will most likely not be able to return the funding unless the Need does not end up going through.
</p>
<br>
<br>
<i><h3>100%:</h3></i>
<br>
<p>
All card processing fees will are covered by the organizations. This means 100% of your gift will go to the organization completing the need. They will cover the small fees for card processing. The credit card fees will be covered by the organization accepting the money and the Church of Lexington will recieve no money.
</p>
<br>
<br>
<i><h3>Need Completion:</h3></i>
<br>
<p>
As soon as you contribute to a Need your card will be charged. If the Need you have contributed to is not completed the Church Admin in charge may choose to return the money to you. In many cases, however, the money can still be used to help the Need even if the full amount isn't raised. Many churches will supplement crowd-funded funds with money from the church's own budget in order to complete a Need.
</p>
<br>
<br>
<i><h3>Payment Processing:</h3></i>
<br>
<p>
All payments are processed through Stripe. The credit card fees, as charged by Stripe, are 2.9% + 30¢ per contribution (note there is a minimum donation of $.50 required to insure an organization cannot lose money).
</p>
<br>
<br>






