<div class="page-header-block">
  <div class="page-title">
  </div>
</div>

<div class="main-content main-bg">
  <div class="contribution-completed-message">
    <div class="inner-content">
      <h1>Sign up and track your impact over time.</h1>
      <br>
       Thanks for your contribution. A receipt has been emailed to you. <a href="mailto:support@church-of.com" target="_top">Contact us</a> if you have any questions. 
               <div class= "side-image-6-sign-up"> </div>
                   <%= link_to "Sign Up", register_path, :class => "sign-up-link-contribution" %>

      <div class="register-intro-block">

      </div>
    </div>


            




    <%= link_to "No Thanks", root_path, :class => "register-now-from-contribution" %>
  </div>
</div>

