<div class="page-header-block">
  <div class="page-title">
  </div>
</div>

<div class="main-content main-bg">
  <div class="contribution-completed-message green">
    <div class="inner-content">
      <h1>Thanks for your contribution.</h1>
       A tax-deductible receipt has been emailed to you. <a href="mailto:support@church-of.com" target="_top">Contact us</a> if you have any questions. You can see all your contributions in your <%= link_to "Impact Panel", impact_panel_index_path %> located in the menu.

    </div>
  </div>
</div>



