
<div class="page-header-block">
  <div class="page-title">
  </div>
</div>

<div class="main-content main-bg">
  <div class="contribution-completed-message red">
    <div class="inner-content">
      <h1>Sorry, but your contribution could not be processed.</h1>
       Please retry and if the problem persists <a href="mailto:support@church-of.com" target="_top">Contact support</a>.
    </div>
  </div>
</div>

