<div class="page-header-block">
<div class="page-title">
  <h2>Volunteering Terms and Conditions</h2>
</div>
</div>

<i><h3>Volunteering:</h3></i>
<br>
<p>
Be sure to defer to the organization leading the Need and follow all rules they set up. The Church of Lexington is not liable for any unintentional harm that may come from groups of people coming together to volunteer. We don't anticipate any... but be responsible and defer to the leadership of the appointed Leader.
</p>
<br>
<br>