<div class="page-header">
  <h1>Church Admin Panel</h1>
</div>

<ul class="nav nav-pills">
	<li class="active"><a href="#">Incoming Needs</a></li>
	<li><a href="#">In Progress Needs</a></li>
	<li><a href="#">Completed Needs</a></li>
</ul>