<% @organizations.each do |organization| %>
		<br>
		<b><h2>
		<%= link_to organization.title, organization %>

			<% if organization.is_verified %>
				<span class="org-verified-icon"><%= image_tag("https://s3.amazonaws.com/church_of/assets/resource_assets/check_on.png") %></span>
			<% end %>
		</h2></b>

		<% @resources.each do |resource| %>
			<% if resource.organization %>
				<% if resource.organization == organization %>
					<%= render 'resource', resource: resource %>
				<% end %>
			<% end %>
		<% end %>
<% end %>
