<% @organizations.each do |organization| %>
		<br>
		<b><h2>
		<%= link_to organization.title, organization %>

			<% if organization.is_verified %>
				<span class="org-verified-icon"><%= image_tag("https://s3.amazonaws.com/church_of/assets/resource_assets/check_on.png") %></span>
			<% end %>
		</h2></b>

		<% @resources.where(organization: organization).each do |resource| %>
			<%= render 'resource', resource: resource %>
		<% end %>
<% end %>


 <% if @resources.count == 0 %>
    <% if params[:selected_initiative].present? %>
        <br>
        <br>
        <h2>Select different search parameters, there are no results for your current selection.</h2>
    <% else %>
    <br>
    <br>
        <h2>Select search parameters to get started.</h2>
    <% end %>
 <% end %>
