<script type="text/javascript">


$(document).ready(function () {

    $("#skills_list").on("change", function () {
      var selectedValue = ""
      $('#needs-full-list').html();
      selectedValue = $('#skills_list option:selected').val();
      $('.need-category-title').html(selectedValue + " Needs");
      $.ajax({
          type: "GET",
          url: "/resources",
          data: {
            selected_skills: selectedValue
          },
          dataType: "script",
          success: function(data) {
            if ($('.need-container').length == 0){
              $('#needs-full-list').html('There are no needs yet listed under this skill set.');
            }
          }
        });
    });
 });

  </script>



<div class="page-header-block">
  <h1 class="need-category-title">All Resources</h1>
  <div class="skills-filter">
    <label>Filter:</label>
    <select id="skills_list" class="skill-select">
      <option value="">All Resources</option>
      <%- Skill.all.each do | skill | %>
        <option data-tag="#{skill.name}">
          <%= skill.name %>
        </div>
      <% end %>
    </select>
  </div>
</div>

<div class="resources" id="resources">

	  <%= render 'resources_by_organization' %>



</div>

