<script type="text/javascript">


$(document).ready(function () {


    $("#initiatives_list").on("change", function () {
      var initiativeSelectedValue = ""
      var skillSelectedValue = ""
      var demographicSelectedValue = ""
      $('#needs-full-list').html();
      initiativeSelectedValue = $('#initiatives_list option:selected').val();
      demographicSelectedValue = $('#demographics_list option:selected').val();
      $.ajax({
          type: "GET",
          url: "/resources",
          data: {
            selected_initiative: initiativeSelectedValue,
            selected_skill: skillSelectedValue,
            selected_demographic: demographicSelectedValue
          },
          dataType: "script",
          success: function(data) {
            if ($('.resource-container').length == 0){
              $('#needs-full-list').html('There are no resources yet listed under this skill set.');
            }
          }
        });
    });


    $("#demographics_list").on("change", function () {
      var initiativeSelectedValue = ""
      var skillSelectedValue = ""
      var demographicSelectedValue = ""
      $('#needs-full-list').html();
      initiativeSelectedValue = $('#initiatives_list option:selected').val();
      skillSelectedValue = $('#skills_list option:selected').val();
      demographicSelectedValue = $('#demographics_list option:selected').val();
      $.ajax({
          type: "GET",
          url: "/resources",
          data: {
            selected_initiative: initiativeSelectedValue,
            selected_skill: skillSelectedValue,
            selected_demographic: demographicSelectedValue
          },
          dataType: "script",
          success: function(data) {
            if ($('.resource-container').length == 0){
              $('#needs-full-list').html('There are no resources yet listed under this skill set.');
            }
          }
        });
    });





 });

  </script>



<div class="page-header-block">
  <h1 class="need-category-title">Resources</h1>


  <br>


  <div class="initiatives-filter">
    <select id="initiatives_list" class="initiative-select">
      <option value="">All Initiatives</option>
      <%- Initiative.all.each do | initiative | %>
        <option data-tag="#{initiative.title}">
          <%= initiative.title %>
        </div>
      <% end %>
    </select>
  </div>

  <div class="categories-filter">

     <%= render 'skills_select' %>

  </div>


  <div class="demographics-filter">
    <select id="demographics_list" class="demographic-select">
      <option value="">All Demographics</option>
      <%- Demographic.all.each do | demographic | %>
        <option data-tag="#{demographic.title}">
          <%= demographic.title %>
        </div>
      <% end %>
    </select>
  </div>

  <br>


</div>

<div class="resources" id="resources">
 <%= render 'resources_by_organization' %>
</div>
