<%= simple_form_for(@demographic) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

    <%= f.input :title %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
