<div class="page-header-block">
  <h1 class="need-category-title">Demographics</h1>

  <br><br><br><br>

  <% @demographics.each do |demographic| %>

    <b><h2>
      <%= demographic.title %>
    </h2></b>

  <% end %>


</div>