<div class="page-header">
  <h1>My Posted Needs</h1>
</div>

<ul class="nav nav-pills">
  <li class="active"><a href="#">Awaiting Approval</a></li>
  <li><a href="#">In Progress</a></li>
  <li><a href="#">Completed</a></li>
</ul>