<ul class="nav nav-pills">
    <li><a href="#">Needs I've Posted Yet To Be Picked Up</a></li>
  <li class="active"><a href="#">Needs I've Posted In Progress</a></li>
  <li><a href="#">Needs I've Posted Completed</a></li>
</ul>