Hello, <%= @need_leader.full_name %>
<br>
<br>
A Need that you lead: <a href="https://www.church-of.com/needs/<%=@need.id%>"><%= @need.title %></a> has had a volunteer cancel: <%= @volunteer.full_name %>.
<br>
<br>
Log in and go to your "Leader Panel" to manage the volunteers.
http://www.church-of.com