Hello <%= @contributor.email %>,
<br>
<br>
Thanks for contributing to: <a href="https://www.church-of.com/needs/<%=@need.id%>"><%= @need.title_public %></a>
<br>
<br>
You contributed: <%= humanized_money_with_symbol @contribution.amount %> (Tax Deductible)
<br>
<br>
You're donation has been sent to <a href="https://www.rosmky.org>">ROSM</a>, (Group Exemption#0000) in order to be sent to the appropriate place. The amount reflected as deductible is the amount for which ROSM provided no goods or services, other than intangible religious benefits, in return for the contributions.