Hello <%= @contributor.email %>,
<br>
<br>
Thanks for contributing to: <a href="https://www.church-of.com/needs/<%=@need.id%>"><%= @need.title_public %></a>
<br>
<br>
You contributed: <%= humanized_money_with_symbol @contribution.amount %>
<br>
<br>
You're donation has been sent to <a href="https://www.rosmky.org>">ROSM</a> in order to be sent to the appropriate place.