Hello <%= @user_posted_by.full_name %>,
<br>
<br>
The need that you posted: <a href="https://www.church-of.com/needs/<%=@need.id%>"><%= @need.title %></a>
<br>
<br>
Was moved to In Progress by Church Admin: <%= @user_church_admin.full_name %>
