Hello, <%= @volunteer.full_name %>
<br>
<br>
A Need that you signed up to volunteer for: <a href="https://www.church-of.com/needs/<%=@need.id%>"><%= @need.title %></a> is now fully Volunteered!
<br>
<br>
Log in and go to your "Impact Panel" to see all of your contributions and volunteering times.
http://www.church-of.com