Hello <%= @user.full_name %>,
<br>
<br>
The need that you signed up to volunteer for: <a href="https://www.church-of.com/needs/<%=@need.id%>"><%= @need.title_public %></a>
<br>
<br>
Is now fully funded!
