<%= stylesheet_link_tag "application", :media => "all" %>
<%= stylesheet_link_tag params[:controller] %>


<%= content_for :hero_block do %>  


<div class="main-title"> Uniting the Church though crowd-sourced service. </div>

<div class="main-sentence"> As a Christian body, we are called to be one. Today’s divisions leave us silo’d off so whats a good practical step forward? Let’s all pitch in on something we agree on being the hands and feet to our city. </div>

<div class="menu-background-people">
</div>

<div class="menu-line"><div class="menu-circle"><div class="menu-object">For Users</div><div class="menu-object">For Churches</div><div class="menu-object">For Non-Profits</div></div></div>




<div class= "side-image-1"> </div>
<div class="left-title">You are uniquely equipped to meet your city’s Needs.</div>
<div class="left-sentence">What gets you pumped up? What are you good at? Odds are the local Church is aware of oppertunites for you to put your skills to work. When you add skills to your profile you’ll automatically be notified when a chance to serve is posted that meets your capabilities.</div>


<div class= "side-image-2"> </div>
<div class="right-title">See the Needs around you in real-time, all the time.</div>
<div class="right-sentence">As Churches are made aware of Needs in the community they post them so we can all chip in. You can trust that each Need is valid because it only shows up on the site once its been approved by a local Church.</div>


<div class= "side-image-3"> </div>
<div class="left-title">Give to specific Needs and get specific feedback.</div>
<div class="left-sentence">There’s something human about helping each other out. It connects and unifies us. When you give its great to see the impact you are having. Give and you’ll be kept up to date with the latest updates. 100% of what you give online goes straight to the Need.</div>


<div class= "side-image-4"> </div>
<div class="right-title">Help guide the Church to use its resources responsibly.</div>
<div class="right-sentence">The church is not a building, its a group of people. We should all play a part in helping that group act with integrity. Where are the churches resources going? Where should they be going? Dive into the data and do some research.</div>


<%end %>



