// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

body{
  padding-bottom: 100px;
}


.main-title {
  font-family: 'Avenir LT W01 65 Medium';
  color: #606060;
  letter-spacing: .01em;
  font-size: 32px;
  margin-top: 90px;
 	text-align: center;
}

.main-mobile-title {
  font-family: 'Avenir LT W01 65 Medium';
  color: #606060;
  letter-spacing: .01em;
  font-size: 22px;
  margin-top: 40px;
  text-align: center;
}

.main-mobile-sentence {
  font-family: 'Avenir LT W01 35 Light';
  color: #606060;
  letter-spacing: .01em;
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
  width:70%;
  margin-left: auto;
  margin-right: auto;
}




.left-title {
  font-family: 'Avenir LT W01 65 Medium';
  color: #606060;
  letter-spacing: .01em;
  font-size: 32px;
  margin-top: 160px;
  margin-left: 60px;
 	width:50%;
 	text-align: left;
}

.left-sentence {
  font-family: 'Avenir LT W01 35 Light';
  color: #606060;
  letter-spacing: .01em;
  font-size: 22px;
  margin-top: 40px;
 	width:50%;
  margin-left: 60px;
  text-align: left;
}

.right-title {
  font-family: 'Avenir LT W01 65 Medium';
  color: #606060;
  letter-spacing: .01em;
  font-size: 32px;
  margin-top: 160px;
  margin-right: 60px;
   margin-left: auto;
 	width:50%;
 	text-align: right;
}

.right-sentence {
  font-family: 'Avenir LT W01 35 Light';
  color: #606060;
  letter-spacing: .01em;
  font-size: 22px;
  margin-top: 40px;
 	width:50%;
  margin-right: 60px;
     margin-left: auto;

  text-align: right;
}

.mobile-title-right {
  font-family: 'Avenir LT W01 65 Medium';
  color: #606060;
  letter-spacing: .01em;
  font-size: 20px;
  margin-top: 40px;
    text-align: right;

  margin-right: 10px;
  margin-left: 10px;
}

.mobile-sentence-right {
  font-family: 'Avenir LT W01 35 Light';
  color: #606060;
  letter-spacing: .01em;
  font-size: 16px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  display: block;
    text-align: right;
}

.mobile-title-left {
  font-family: 'Avenir LT W01 65 Medium';
  color: #606060;
  letter-spacing: .01em;
  font-size: 20px;
  margin-top: 40px;
    text-align: left;

  margin-right: 10px;
  margin-left: 10px;
}

.mobile-sentence-left {
  font-family: 'Avenir LT W01 35 Light';
  color: #606060;
  letter-spacing: .01em;
  font-size: 16px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  display: block;
    text-align: left;
}


.side-image-1 {
  margin-top: 0px;
	width: 33%;
  max-width: 400px;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/skills_sketched.png);
  float: right;
}

.mobile-side-image-padding {
  width: 9%;
  display: inline-block;
}


.mobile-image-1 {
  margin-top: 20px;
    margin-bottom: 20px;
  width:100%;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/skills_sketched.png);
    display: inline-block;

}

.side-image-2 {
  margin-top: 160px;
	width: 33%;
    max-width: 400px;

    margin-left: 10px;

	float: left;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/map_sketched.png);
}

.mobile-image-2 {
  margin-top: 20px;
    margin-bottom: 20px;

  width:100%;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/map_sketched.png);
    display: inline-block;

}


.side-image-3 {
  margin-top: 160px;
	width: 33%;
  max-width: 400px;
  margin-right: 30px;
	float: right;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/sketched_feedback.png);
}

.mobile-image-3 {
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/sketched_feedback.png);
  display: inline-block;
}


.side-image-4 {
  margin-top: 160px;
	width: 33%;
  max-width: 400px;
	float: left;
  margin-left: 20px;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/stats_sketched.png);
}

.mobile-image-4 {
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/stats_sketched.png);
  display: inline-block;
}







.side-image-5 {
  margin-top: 0px;
  width: 33%;
  max-width: 400px;
  margin-right: 30px;
  float: right;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/congregation_sketched.png);
}

.mobile-image-5 {
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/congregation_sketched.png);
  display: inline-block;
}


.side-image-6 {
  margin-top: 160px;
  width: 33%;
  max-width: 400px;
  float: left;
  margin-left: 20px;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/one_place_sketched.png);
}

.side-image-6-sign-up {
  margin-top: 20px;
  width: 40%;
  max-width: 400px;
  margin-left: auto;
    margin-right: auto;

  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/one_place_sketched.png);
}



.mobile-image-6 {
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/one_place_sketched.png);
  display: inline-block;
}






.side-image-7 {
  margin-top: 160px;
  width: 33%;
  max-width: 400px;
  margin-right: 30px;
  float: right;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/united_sketched.png);
}

.mobile-image-7 {
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/united_sketched.png);
  display: inline-block;
}


.side-image-8 {
  margin-top: 160px;
  width: 33%;
  max-width: 400px;
  float: left;
  margin-left: 20px;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/tools_sketched.png);
}

.mobile-image-8 {
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/tools_sketched.png);
  display: inline-block;
}



.side-image-9 {
  margin-top: 0px;
  width: 33%;
  max-width: 400px;
  margin-right: 30px;
  float: right;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/partner_sketched.png);
}

.mobile-image-9 {
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/partner_sketched.png);
  display: inline-block;
}


.side-image-10 {
  margin-top: 160px;
  width: 33%;
  max-width: 400px;
  float: left;
  margin-left: 20px;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/resources_sketched.png);
}

.mobile-image-10 {
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/resources_sketched.png);
  display: inline-block;
}














.about-link {
  font-family: 'Avenir LT W01 35 Light';
  color: #42bbdc;
  text-decoration: underline;
}


.main-sentence {
  font-family: 'Avenir LT W01 35 Light';
  color: #606060;
  letter-spacing: .01em;
  font-size: 22px;
  margin-top: 40px;
 	text-align: center;
 	width:70%;
 	margin-left: auto;
  margin-right: auto;
}


.menu-line {
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
	background: #606060;
	width: 100%;
	height: 2px;
}

.menu-circle {
  margin-top: -34px;
  background: #EEEFF1;
  margin-left: auto;
  margin-right: auto;
	left: 0;
	right: 0;
	border: 2px solid #606060; 
	border-top-right-radius: 3em;
	border-bottom-right-radius: 3em;
	border-top-left-radius: 3em;
	border-bottom-left-radius: 3em;
	width: 665px; 
	height: 69px;
	position: absolute;
}




.mobile-line {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background: #606060;
  width: 100%;
  height: 2px;
      margin-bottom: 55px;

}

.mobile-circle {
  margin-top: -25px;

  background: #EEEFF1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 2px solid #606060; 
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
  width:70%; 
  height: 50px;
  position: absolute;
}









.menu-background-people {
	width: 100%;
	margin-top: -104px;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/people.png);
}

.menu-mobile-people {
  width: 100%;
  margin-top: -20px;
  content:url(https://s3.amazonaws.com/church_of/assets/ui_assets/people.png);
}


.menu-object {
  margin-top: 15px;
  font-size: 22px;
  margin-left: 35px;
  margin-right: 35px;
  font-family: 'Avenir LT W01 35 Light';
  display: inline-block;
}


.nav-pills > li > a {
  margin-top: 7px;
  font-size: 22px;
  margin-left: 8px;
  width: 208px;
  margin-right: 0px;
  font-family: 'Avenir LT W01 35 Light';
  display: inline-block;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
    text-align: center;

}

.nav-pills > li.active > a {
}
// This changes the color of the active





.mobile-menu-object {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Avenir LT W01 35 Light';
  display: inline-block;
    text-align: center;
      width: 100%;


}



.sign-up-link {
  margin-top: 117px;
  font-size: 30px;
  margin-left: 30%;
  width: 40%;
    height: 70px;

  font-family: 'Avenir LT W01 35 Light';
  display: inline-block;
  border-top-right-radius: .2em;
  border-bottom-right-radius: .2em;
  border-top-left-radius: .2em;
  border-bottom-left-radius: .2em;
  text-align: center;
  background: #69c773;
  color: #FFFFFF;
  line-height: 65px;


}

.sign-up-link-contribution {
  margin-top: 20px;
  font-size: 30px;
  margin-left: auto;
    margin-right: auto;

  width: 40%;
    height: 70px;

  font-family: 'Avenir LT W01 35 Light';
  display: inline-block;
  border-top-right-radius: .2em;
  border-bottom-right-radius: .2em;
  border-top-left-radius: .2em;
  border-bottom-left-radius: .2em;
  text-align: center;
  background: #69c773;
  color: #FFFFFF;
  line-height: 65px;


}


.sign-up-link-contribution:hover {
  background: #52b35d;
  color: #FFFFFF;
}


.sign-up-link:hover {
  background: #52b35d;
  color: #FFFFFF;
}


.sign-up-link-mobile {
  margin-top: 117px;
  font-size: 30px;
  margin-left: 10%;
  width: 80%;
    height: 70px;

  font-family: 'Avenir LT W01 35 Light';
  display: inline-block;
  border-top-right-radius: .2em;
  border-bottom-right-radius: .2em;
  border-top-left-radius: .2em;
  border-bottom-left-radius: .2em;
  text-align: center;
  background: #69c773;
  color: #FFFFFF;
  line-height: 65px;


}

.sign-up-link-mobile:hover {
  background: #52b35d;
  color: #FFFFFF;
}



