$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;



$primary-blue: #58A1EB;
$dark-blue: #4281C8;
$dark-grey: #989898;
$content-width: 960px;
$main-font: 'Avenir LT W01 55 Roman';
$body-font: 'Avenir LT W01 35 Light';
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin font-pack($font-family, $weight) {
  font-family: $font-family;
  font-weight: $weight;
  letter-spacing: .05em;
}

body{
  background: #EEEFF1;
  font-family: $main-font;
  font-weight: 400;
  padding-bottom: 100px;
}

#main-content-container{
  margin-top: 30px;
}

/**** Typography *****/

h1, h2, h3, h4{
  @include font-pack($body-font, 600);
  color: #353535;
  letter-spacing: .01em;
  margin-top: 10px;
}

a:hover, a:focus{
  text-decoration: none;
}

/**** Navbar ********/

.navbar{
  background: $primary-blue;
  color: #FFF;
}

.navbar a{
  color: #FFF;
  @include font-pack($main-font, 400);
}

ul.menu-links{
  padding-left: 0px;
}

.menu-link{
  float: right;
  list-style: none;
  margin-top: 10px;
  margin-right: 10px;
}

.menu-link a{
  display: block;
  padding: 5px 20px;
}

.menu-link:hover a,
.menu-link.open a{
  background: #FFF;
  border-radius: 5px;
  color: $dark-blue;
}

.menu-link a:hover{
  text-decoration: none;
}

.highlighted{
  background: $dark-blue;
  border-radius: 5px;
}

.inner-content{
  max-width: $content-width;
  margin: 0px auto;
}

.dropdown-menu{
  margin: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  @include border-radius(0px);
  right: 0px;
  text-align: right;
  border-top: 0px;
}

.dropdown-wrapper{
  max-width: 970px;
  margin: 0px auto;
}

.dropdown-menu .divider{
  margin: 0px auto;
}

.dropdown-wrapper li{
  width: auto;
  display: inline-block;
}

.dropdown-wrapper li a:hover{
  background: $dark-grey;
  color: #FFF;
}

/**** General Styles ****/
.page-header-block{
  margin-top: 60px;
  margin-bottom: 30px;
}

.main-content{
  background: #FFF;
}

.main-content .inner-content{
  max-width: 95%;
  margin: 0px auto;
}

.page-options li{
  margin-right: 10px;
}

.page-options li a{
  padding: 8px 10px 8px;
  background: none;
  color: $dark-grey;
  @include border-radius(20px);
}

.page-options li.active a,
.page-options li.active a:hover,
.page-options li a:hover{
  background: $dark-grey;
  color: #FFF;
}

.page-options li a.important-btn{
  background: $primary-blue;
  @include border-radius(5px);
  color: #FFF;
}

.page-options li a.important-btn:hover{
  background: $dark-blue;
}

.count-number{
  margin-right: 8px;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.2em;
}

.meta a, .meta{
  color: #999;
}

/**** Admin Panels ****/
.form-horizontal.action-btn input{
  -webkit-appearance: none;
  height: 35px;
  border-radius: 5px;
  background: $primary-blue;
  color: #FFF;
  border: none;
  margin: 5px;
  width: 150px;
}

.form-horizontal.action-btn input:hover{
  background: $dark-blue;
}

.form-horizontal.action-btn{
  display: inline-block;
}

@media(max-width: $screen-xs-max){
  .hide-on-xs{
    display: none;
  }

  .dropdown-wrapper{
    width: 100%;
    margin: 0px auto;
  }

  .dropdown-wrapper li{
    width: 100%;
  }

  .navbar .container{
    padding: 0px;
  }

  .page-options li.post-new-need.pull-right{
    display: block;
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-top: 15px;
    text-align: center;
  }

  .menu-link.highlighted.login-btn a{
    padding: 5px;
  }

  .page-title h2{
    font-size: 1.5em;
    line-height: 1.25em;
  }
}

@media(max-width: $screen-sm-min){
  .page-options li.post-new-need.pull-right{
    display: block;
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-top: 15px;
    text-align: center;
  }

}

@media(min-width: $screen-lg-min){
  .dropdown-wrapper{
    max-width: 1125px;
    margin: 0px auto;
  }
}