@import "variables.css.scss";

body{
  background: #EEEFF1;
  font-family: $main-font;
  font-weight: 400;
  padding-bottom: 100px;
}

/**** Organizations *****/

.people-badge{
  margin-top: 30px;
}



/**** Banner *****/

.banner{
  background: #ffdc71;
  height: 50px;

}

.banner-text{
  text-color: #343434;
  font-size: 18px;
  margin-top: 12px;
  display: inline-block;
}

.banner-btn {
  background: #FFFFFF;

  margin-top: 8px;
    margin-right: 10px;

  display: inline-block;
  float: right;
    border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
  border-top-left-radius: .3em;
  border-bottom-left-radius: .3em;

  width: 150px;
  height: 35px;
text-align: center;
    vertical-align: middle;
}

.banner-btn-mobile {
  background: #FFFFFF;

  margin-top: 8px;
    margin-right: 10px;

  display: inline-block;
  float: center;
    border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
  border-top-left-radius: .3em;
  border-bottom-left-radius: .3em;

  width: 150px;
  height: 35px;
text-align: center;
    vertical-align: middle;
}


.banner-btn-text {
  margin-top: 7px;

  text-color: #343434;
  font-size: 16px;

}


/**** Typography *****/

h1, h2, h3, h4{
  @include font-pack($body-font, 600);
  color: #353535;
  letter-spacing: .01em;
  margin-top: 10px;
}

a:hover, a:focus{
  text-decoration: none;
}

/**** Navbar ********/

.navbar{
  background: $primary-blue;
  color: #FFF;
}

.navbar a{
  color: #FFF;
  @include font-pack($main-font, 400);
}

.navbar a.navbar-brand{
  font-size: 18px;
  padding-right: 5px;
}

.navbar a.navbar-brand.beta-btn{
  margin-top: 9px;
  padding: 4px 16px;
  font-size: 15px;
  
    background: #4583c6;

  margin-left: 5px;
  border-radius: 4px 4px 4px 4px;
}

.navbar a.navbar-brand.beta-btn:hover{
  background: #FFF;
  color: #5CA2E8;
}

ul.menu-links{
  padding-left: 0px;
}

.menu-link{
  float: right;
  list-style: none;
  margin-top: 10px;
  margin-right: 10px;
}

.menu-link a{
  display: block;
  padding: 5px 20px;
}

.menu-link:hover a,
.menu-link.open a{
  background: #FFF;
  border-radius: 5px;
  color: $dark-blue;
}

.menu-link a:hover{
  text-decoration: none;
}

.highlighted{
  background: $dark-blue;
  border-radius: 5px;
}

.inner-content{
  max-width: $content-width;
  margin: 0px auto;
}

.dropdown-menu{
  margin: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  @include border-radius(0px);
  right: 0px;
  text-align: right;
  border-top: 0px;
}

.dropdown-wrapper{
  max-width: 970px;
  margin: 0px auto;
}

.dropdown-menu .divider{
  margin: 0px auto;
}

.dropdown-wrapper li{
  width: auto;
  display: inline-block;
}

.dropdown-wrapper li a:hover{
  background: $medium-grey;
  color: #FFF;
}

/**** General Styles ****/
.page-header-block{
  margin-top: 60px;
  margin-bottom: 30px;
}

.main-bg{
  background: #FFF;
}

.main-content .inner-content{
  max-width: 95%;
  margin: 0px auto;
}

.page-options{
  margin: 20px auto 50px;
}

.page-options li{
  margin-right: 10px;
}

.page-options li a{
  padding: 8px 12px 8px;
  font-size: 18px;
  background: none;
  color: $medium-grey;
  @include border-radius(20px);
}

.page-options li.active a,
.page-options li.active a:hover,
.page-options li a:hover{
  background: $medium-grey;
  color: #FFF;
}

.page-options li a.important-btn{
  background: $primary-blue;
  @include border-radius(5px);
  color: #FFF;
}

.page-options li a.important-btn:hover{
  background: $dark-blue;
}

.count-number{
  margin-right: 5px;
  font-weight: 700;
  font-size: 18px;
}

.meta a, .meta{
  color: #999;
}

/**** Admin Panels ****/
.form-horizontal.action-btn input{
  -webkit-appearance: none;
  height: 35px;
  border-radius: 5px;
  background: $primary-blue;
  color: #FFF;
  border: none;
  margin: 5px;
  width: 150px;
}

.form-horizontal.action-btn input:hover{
  background: $dark-blue;
}

.form-horizontal.action-btn{
  display: inline-block;
}

@media(max-width:767px){
  .hide-on-xs{
    display: none;
  }
}
@media(min-width:768px){
  .show-on-xs{
    display: none;
  }
}

@media(min-width:992px){
  .show-on-xs{
    display: none;
  }
}

@media(min-width:1200px){
  .show-on-xs{
    display: none;
  }
}

@media(max-width: $screen-xs-max){
  .hide-on-xs{
    display: none;
  }

  .dropdown-wrapper{
    width: 100%;
    margin: 0px auto;
  }

  .dropdown-wrapper li{
    width: 100%;
  }

  .navbar .container{
    padding: 0px;
  }

  .page-options li.post-new-need.pull-right{
    display: block;
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-top: 15px;
    text-align: center;
  }

  .menu-link.highlighted.login-btn a{
    padding: 5px;
  }

  .page-title h2{
    font-size: 1.5em;
    line-height: 1.25em;
  }
}

@media(max-width: $screen-sm-min){


  .page-options li.post-new-need.pull-right{
    display: block;
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-top: 15px;
    text-align: center;
  }
  .navbar a.navbar-brand,
  .navbar a.navbar-brand.beta-btn{
    font-size: 14px;
  }

  .navbar a.navbar-brand.beta-btn{
    padding: 3px 10px;
    margin-top: 10px;
  }

}

@media(min-width: $screen-lg-min){


  .dropdown-wrapper{
    max-width: 1125px;
    margin: 0px auto;
  }
}