// Place all the styles related to the contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables.css.scss";

button.full-width-btn.contribution{
  -webkit-appearance: none;
  border: none;
  padding-top: 5px;
}

.page-header-block.contribution{
  margin-bottom: 0px;
}

.contribute-form.need-container{
  padding-top: 10px;
}

.contribution-info-wrapper{
  background: #d3d1d1;
  margin-top: 25px;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 2px 2px 2px 2px;
}
.expiration-divider{
  display: inline-block;
}

.contribute-form input{
  height: 35px;
}

.terms-block{
  margin-top: 25px;
  font-size: 12px;
}

@media(max-width: 767px){
  .hide-on-mobile{
    display: none;
  }
}