// Place all the styles related to the needs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

.need-container {
  border-bottom: solid 1px #CCC;
  padding-top: 10px;
  margin: 25px auto;
  background: #FFF;
  position: relative;
}

.row.no-margin{
  margin-left: 0px;
  margin-right: 0px;
}

.need-container .inner-content{
  padding-bottom: 25px;
}

.need-container h1,
.need-container h2,
.need-container h3,
.need-container h4{
  color: $primary-blue;
  font-weight: 400;
}

.private-information{
 margin:30px auto;
}

.need-description p,
.private-information p{
  font-size: 18px;
  color: $text-grey;
}

.need-container.edit .need-title{
  max-width: 95%;
  margin: 20px auto;
}

.need-title{
  color: $primary-blue;
  margin: 20px auto 25px;
}

.edit .inner-content{
  margin-top: 25px;
}

  .need-description{
    font-size: 18px;
    color: $medium-grey;
  }

  .need-details{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .need-details h3{
    color: $text-grey;
  }

.expenses-bar,
.skills-bar{
  @include content-bar($light-grey)
}
  .expenses-bar .progress-bar{
    height: 100%;
    @include border-radius(2px);
    position: absolute;
    width: 0%;
    background: $green;
  }

  .amount-raised,
  .skills-count{
    font-size: 22px;
    color: #FFF;
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 200;
  }

  .expense-details,
  .skill-details{
    font-size: 16px;
    color: #FFF;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 200;
  }

.responsibility-bar{
  margin-top: 20px;
  margin-bottom: 20px;
}
  .user-title h3{
    color: $text-grey;
    margin-bottom: 15px;
  }

  .responsible-user{
    vertical-align: top;
  }

  .user-details p.role{
    font-style: italic;
    font-size: 15px;
  }

  .user-image .img-circle{
    max-width: 125px;
    float: left;
    vertical-align: top;
    margin-right: 10px;
  }

  .placeholder-leader-image{
    float: left;
    margin-right: 10px;
    display: block;
    max-width: 125px;
    width: 125px;
    height: 125px;
    background: $medium-grey;
    @include border-radius(50%);
  }

p.unsupported-feature{
  font-size: 15px;
  font-style: italic;
}

.previous-records-bar{
  @include content-bar($green);
  margin: 10px auto;
}

.potential-benefits-bar{
  @include content-bar($primary-blue);
  margin: 10px auto;
}

.private-records-block{
  margin: 20px auto;
}

  .record-count{
    font-size: 16px;
    color: #FFF;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 200;
  }

  .details{
    font-size: 16px;
    color: #FFF;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 200;
  }

.full-width-btn{
  display: block;
   width: 100%;
   background: $primary-blue;
   color: #FFF;
   padding-top: 15px;
   text-align: center;
   height: 55px;
   font-size: 18px;
}

.full-width-btn:hover{
  background: $dark-blue;
  color: #FFF;
  text-decoration: none;
}

.half-width-btn{
  color: #FFF;
  padding-top: 15px;
  text-align: center;
  height: 55px;
  font-size: 18px;
}

.blue-btn{
  background: $primary-blue;
}

.blue-btn:hover{
  background: $dark-blue;
}

.change-status input{
  border: none;
  padding: 0px;
}

.map-location img{
  width: 100%;
  @include border-radius(2px);
  margin: 10px auto 0px;
}

.toggle-container{
  text-transform: uppercase;
  color: #FFF;
  width: 100px;
  @include border-radius(20px);
  text-align: center;
  position: relative;
  border: solid 1px $light-grey;
  height: 25px;
  font-size: .9em;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.toggle-btn.green{
  color: #FFF;
  background: $green;
  position:absolute;
  width: 50%;
  left: 0px;
  top: 0px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 5px;
    font-size: 10px;
}
.toggle-btn.red{
  padding-top: 5px;
  font-size: 10px;
  color: #FFF;
  background: #E46868;
  position:absolute;
  width: 50%;
  right: 0px;
  top: 0px;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

input.toggle-btn.left{
  text-transform: uppercase;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #FFF;
  color: #CCC;
  position:absolute;
  width: 50%;
  left: 0px;
  top: 0px;
  height: 100%;
    font-size: 10px;
}

input.toggle-btn.left:hover{
  background: $green;
  color: #FFF;
}

input.toggle-btn.right:hover{
  background: #E46868;
  color: #FFF;
}

input.toggle-btn.right{
  text-transform: uppercase;
  font-size: 10px;
  background: #FFF;
  color: #CCC;
  position:absolute;
  width: 50%;
  right: 0px;
  top: 0px;
  height: 100%;
    border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*Forms*/
.need-form{
  padding-top: 10px;
}

input:focus, textarea:focus, select:focus{
  outline:none;
}

.need-form.form-horizontal label{
  color: #353535;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 10px;
}

.need-form abbr{
  border-bottom: none;
  margin-right: 0px;
}

p.form-instructions{
  margin-top: 15px;
  color: #353535;
  font-size: 1.25em;
  font-weight: 200;
  font-family: $body-font;
}

.need-form .private-fields,
.need-form .public-fields{
  width: 48.7%;
  margin-right: 1%;
  display: inline-block;
  vertical-align: top;
}

.need-form .private-fields input,
.need-form .public-fields input{
  width: 100%;
  height: 45px;
  vertical-align: top;
}

.need-form .private-fields textarea,
.need-form .public-fields textarea{
  width: 100%;
  height: 60px;
}

.need-form .all-private-fields{
  margin-top: 25px;
}

.need-form .all-private-fields input,
.need-form .all-private-fields select{
  width: 100%;
  height: 45px;
}

.need-form .all-private-fields select{
  height: 45px;
  background: #FFF;
  -webkit-appearance: none;
  border: none;
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  background: #FFF;
  border: solid 1px #CCC;
  padding-left: 5px;
  cursor: pointer;
}

.need-form .all-private-fields textarea{
  width: 100%;
  height: 60px;
}

.need-form .field-pair{
width: 48.7%;
margin-right: 1%;
display: inline-block;
  vertical-align: top;
}

.need-form .field-group-3{
  width: 32%;
  margin-right: 1%;
  display: inline-block;
  vertical-align: top;
}

.need-form .submit-new-need input{
  margin-top: 30px;
  height: 55px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  width: 100%;
  background: $primary-blue;
  color: #FFF;
}

.need-form .submit-new-need input:hover{
  background: $dark-blue;
}

.need-form input,
.need-form textarea{
  border: solid 1px #CCC;
  padding-left: 5px;
}

/*SHOW*/
.show-need{
  padding-top: 15px;
  font-family: $body-font;
  padding-bottom: 15px;
  margin-bottom: 0px;
}

.show-need strong{
  font-weight: 600;
}

.show-need .need-description{
}

.show-need .about-need{
  border-bottom: solid 1px #CCC;
  margin-bottom: 10px;
}

.show-need h1,
.show-need h2{
  color: $primary-blue;
}

.stripe-button-el{
  width: 100%;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none;
  height: 45px;
  background: #70c769 !important;
  text-shadow: none !important;
  margin-bottom: 10px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.stripe-button-el:hover{
  background: #6EC25D !important;
}

.stripe-button-el span{
  background: none !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none;
  text-shadow: none !important;
}

@media(max-width: 767px){
  .need-form .private-fields,
  .need-form .public-fields,
  .need-form .field-pair,
  .need-form .field-group-3{
    width: 100%;
    margin-right: 0%;
    display: block;
    vertical-align: top;
  }

  .need-form .private-fields textarea,
  .need-form .public-fields textarea{
    height: 100px;
  }

  .responsible-user{
    text-align: center;
  }

  .user-image .img-circle,
  .user-image .placeholder-leader-image{
    float: none;
    max-width: 80px;
    height: 80px;
    margin: 0px auto 10px;
  }
}