$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$primary-blue: #58A1EB;
$dark-blue: #4281C8;
$dark-green: #52b35d;
$dark-grey: #3b3b3b;
$medium-grey: #7d7d7d;
$text-grey: #545454;
$light-grey: #989898;
$lighter-grey: #ebebeb;
$green: #69c773;
$orange: #FF8A3B;

$content-width: 960px;

$main-font: 'Avenir LT W01 55 Roman';
$body-font: 'Avenir LT W01 35 Light';
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin font-pack($font-family, $weight) {
  font-family: $font-family;
  font-weight: $weight;
  letter-spacing: .05em;
}

@mixin content-bar($color){
  position: relative;
  background: $color;
  height: 40px;
  @include border-radius(2px);
  color: #FFF;
}